################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/VSWorkspaceState.json
/.vs/TestUse/v15/.suo
/.vs/TestUse/v15
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/config
/.vs
